@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.161);
}

::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: white;
    /* outline: 1px solid slategrey; */
}

.sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}

.sidebar::-webkit-scrollbar {
    width: 1px;
    height: 90%;
    /* position: relative; */
    /* left: 10px; */
}